/* Main Author Eric Donnelly 200433532*/
/*********************** Main Styles Start here ********************************/
h1{
    margin: 0px;
    font-family: "Satisfy", Arial, sans-serif;
    color: #830a24;
    font-size: 3rem;
    text-align:center;
}
p{
    font-family: "Satisfy", Arial, sans-serif;
    margin: 1em auto;
    color: #9b8286;
    font-size: 1rem;
    clear:both;
}

body {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #333;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
/*      Print Page Styles */

#printTarget{
    background-color: #EFE9DD;
    width: 60%;
    color:black;
    padding: 10px;
    margin: 10px auto;
}
/*Fills the space between elements*/
.wrapperSpaced {
    display:flex;
    justify-content:space-around;
}
.wrapperLeft{
    display:flex;
    justify-content: left;
}
/*Make headers bold*/
ul li {
    font-weight: bold;
}
/*Make normal information normal*/
ul li span {
    font-weight: normal;
}

/*Vertical list*/
ul.VList{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

ul.VList li {
    display: block;
    margin-bottom: 1em;
}

/* Horizontal list */
ul.HList li{
    display: inline;
    margin-right: 2em;
}
ul.HList li:last-of-type{
    margin-right: 0;
}
ul#Traits{
    justify-content: center;
}

ul#Traits li{
    text-align: center;
    border: 3px solid #693007;
    height: 70px ;
}
ul#Traits li span{
    display: block;
    font-size: 35px;
    padding-top: 5%;
}

/*********************** Main Styles End here ********************************/
/************** Nav Styles Starting Here ****************************/
nav{
    background-color: #830a24;
    width:60%;
    top:0;

}
ul{
    list-style-type:none;
    padding-left:0;
    margin-left: 5px;
}
li{
    display:inline-block;
}
nav a{
    text-decoration:none;
    color:#242424;
    font-weight: 600;
    font-family: "Helvetica", sans-serif;
    padding:15px;
    text-align:center;
}
nav a:hover{
    background-color:#424874;
    color:#fff;
}

/********************** Nav Style Ends Here ************************************/

/*********************** Form Styles Start here ********************************/
#statValues{
    display:grid;
    grid-template-areas:
            'Header Header'
            'Stats Stats'
            'Stats Stats'
            'Stats Stats'
            'Button Button';
}
#StatsHeader{
    grid-area: Header;
    justify-content: stretch;
}
#submitStats{
    grid-area: Button;
}
#dropStats{
    display:grid;
    grid-template-areas:
            'Header Header'
            'Stats Stats'
            'Stats Stats'
            'Stats Stats'
            'Button Button';
    justify-content: stretch;
}
img{
    width:50px;
    height: 50px;
}
#bgDetailDesc{
    grid-area: bgDetailDesc;
}
#bgDetailHeader{
    grid-area: bgDetailHeader;
}
#form{
    grid-template-areas:
           'race race race race'
           'gender gender gender gender'
           'name name name name'
           'cl cl cl cl '
           'bground bground bground bground'
           'bgDetailHeader bgDetailHeader bgDetailDesc bgDetailDesc'
           'bgDetails bgDetails bgDetails bgDetails'
           'bgDetails bgDetails bgDetails bgDetails'
           'bioDetails bioDetails bioDetails bioDetails'
           'bioButton bioButton contButton contButton';
}
#character_bio{
    grid-area: bioDetails;
    justify-content: stretch;
}
#continueButton{
    grid-area: contButton;
    justify-content: stretch;
}
#CharBioButton{
    grid-area: bioButton;
    justify-content: stretch;
}
form {
    width: 80%;
    background-color: #EFE9DD;
    padding: 10px;
    margin: 10px auto;
    display:grid;
}

fieldset {
    border: 1px solid #693007;
    margin: 1em;

}
label {
    color: #005252;
}

button {
    font-size: smaller;
    background-color: darkred;
    color: white;
    padding: 1em;
    text-align: center;


}
#background_selection{
    grid-area: bground;
}
#class_selection{
    grid-area: cl;
}
#gender_selection{
    grid-area: gender;
}
#race_selection{
    grid-area: race;
}
#name_selection{
    grid-area: name;
}
#background_details  {
    grid-area: backgroundDetails;
}

#RevealBtn{
    align-self: center;
    width: 20px;
    flex-grow: 5;
}


/*********************** Form Styles End here ********************************/

/****************** Added by Holly for Spinning Dice Images ******************/
.rotate {
    animation: rotation 2s linear;
    animation-duration: 1s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
/****************** End of Spinning Dice Images ******************/